@charset "UTF-8";
.right {
    width: 300px;
    box-shadow: 0 0 10px #aaa;
    margin-right: 20px;
    margin-top: 7px;
}
.right .title {
    width: 260px;
    margin: 0 auto;
    line-height: 50px;
    text-indent: 20px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}
.right .videoNav {
    height: 540px;
    padding-bottom: 10px;
}
.right .videoNav li {
    position: relative;
    width: 260px;
    margin: 10px auto;
}
.right .videoNav li a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 54px;
    height: 54px;
}
.right .videoNav li a img {
    border-radius: 50%;
}